h1 {
    color: #73fff6
}

.intro {
    width: 50%;
    display: inline-block;
    margin: 0 auto;
}

#morning {
    width: 50%;
    display: inline-block;
    background-color: blueviolet;
    margin: 0 auto,
}

.why {
    width: 50%;
    display: inline-block;
    background-color: aquamarine;
    margin: 0 auto,
}

img {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 auto,
}