
.intro {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    left: 300px;
}
#dove {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    
}
.why {
    display: block;
    width: 60px;
    height: 20px;
    margin: 10;
    padding: 10;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    right: 10px;
}
.morewhy{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    left: 100px;

}
.community {
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;

}
.birdingspots {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}