
.intro {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: chartreuse;
}
.firstbirdrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
}
.whybirds{
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: left;
}

.community {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.rowbirds {
    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: right;
}
.video {
    position: relative;
    left: 420px;
}
.birdingspots {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    position: relative;
    text-align: center;
}